;User settings
[user]
  name = Harry Jeffery
  email = harry@exec64.co.uk
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = harry@exec64.co.uk
  smtpserverport = 587

;General settings
[advice]
  detachedHead = false
[color]
  ui = true
[core]
  autocrlf = input
  editor = vim
[diff]
  context = 7
[format]
  coverLetter = auto
  signoff = true
[grep]
  lineNumber = true
  patternType = extended
[log]
  date = relative
  decorate = short
[push]
  default = simple
[rebase]
  autosquash = true
[rerere]
  enabled = true

;Aliases
[pretty]
  concise = "%C(yellow)%h %C(red)%t %C(reset)%ad %C(blue)%cn %C(reset)%s%C(green)%d"
  cleangraph = "%C(yellow)%h %C(reset)%ad %C(reset)%s%C(green)%d"
[alias]
  co  = checkout
  ci  = commit
  s   = status -s -b
  st  = status
  sh  = show
  ss  = stash save
  sp  = stash pop
  sl  = stash list
  b   = branch
  bb  = branch --verbose --verbose
  ll  = log --pretty=concise
  l   = log --pretty=concise -n 15
  lg  = log --pretty=concise --graph
  lb  = log --pretty=cleangraph --graph --branches --simplify-by-decoration
  rl  = log --pretty=concise --walk-reflogs
  g   = grep
  d   = diff
  ds  = diff --staged
  a   = add
  pl  = pull --rebase
  ps  = push
  f   = fetch --all --prune
  ff  = "!f() { git update-ref -m \"git ff $1\" refs/heads/$1 origin/$1; }; f"
  rb  = rebase
  rbi = rebase --interactive
  rbc = rebase --continue
  rba = rebase --abort
  fix = commit --fixup
