[core]
	editor = vim
	autocrlf = input
[user]
	name = Harry Jeffery
	email = harry@exec64.co.uk
[color]
	ui = true
[push]
	default = simple
[alias]
    s = status
    ds = diff --staged
    ql = log --pretty=format:'%C(auto)%<(10) %h %<(20,trunc)%an %C(red) %ai %C(reset)%s'
