[user]
	name = Harry Jeffery
	email = harry@exec64.co.uk
[core]
	editor = vim
	autocrlf = input
[color]
	ui = true
[push]
	default = simple
[rebase]
  autosquash = true
[rerere]
  enabled = true
[advice]
  detachedHead = false
[alias]
  co  = checkout
  ci  = commit
  s   = status -s -b
  st  = status
  sh  = show
  ss  = stash
  sp  = stash pop
  b   = branch
  bb  = branch --verbose --verbose
  bu  = !git fetch --all --prune && git branch --verbose --verbose
  ll  = log --date=relative --pretty=format:"%C(yellow)%h\\ %C(red)%t\\ %Creset%ad\\ %C(blue)%cn\\ %Creset%s%C(green)%d" --decorate
  l   = !git ll -n 15
  lg  = !git ll --graph
  d   = diff
  ds  = diff --staged
  a   = add
  pl  = pull --rebase
  ps  = push
  f   = fetch --all --prune
  rb  = rebase
  rbi = rebase --interactive --autosquash
  rbh = rebase --interactive --autosquash HEAD~10
  fix = commit --fixup
