URxvt.font: xft:Inconsolata:size=14,xft:Inconsolata for Powerline:size=14,xft:Symbola:size=14
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.background: [95]#101010
URxvt.fading: 50
URxvt.fadeColor: #222222

!! Plugins
URxvt.perl-ext-common: font-size

!! Font size stepping
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.font-size.step: 2
